.footer {
    background-color: rgb(7, 6, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.member h2{
  align-items: center;
  text-align: center;
}
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


.member body {
  background-color: #000;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_title img{
 
  
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/* .................end.............. */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  
}

.swiper-slide img {
  

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }



/* .........end......... */
.gallary h2{
   
    text-align: center;
   padding-bottom: 1rem;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
   
   
    align-content: center;
    text-align:center;
   margin-left: 300px;
    width: 600px;
    height: 500px;
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  }
  
  
.footerin1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.footerin1 div {
    width: 15%;
    min-width: 200px;
}

.footerin1 .f1 {
    width: 15%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.footerin1 .f1 img {
    width: 200px;
    margin-bottom: 10px;
}

.footerin1 .f1 p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
    width: 100%;
}

.footerin1 .f2 {
    color: white;
    padding-top: 20px;
}
.footerin1 .f2:hover {
    color:#e86a0a;
    
}

.footerin1 .f2 h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 90%;
}

.footerin1 .f2 p {
    font-size: 15px;
    font-weight: 200;
    margin: 3px 0px;
    color: #ffffff;
    width: 90%;
}

.footerin1 .f2 p:hover{
    cursor: pointer;
    color: var(--col1);
}

.footerin1 .f2 .inputcontainer {
    display: flex;
    flex-direction: row;
    width: 220px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    margin: 10px 0px;
    padding: 5px 5px;
}

.footerin1 .icon1 {
    /* background-color: aqua; */
    /* max-width: 40px; */
}

.footerin1 .icon1 svg {
    width: 20px;
    height: 20px;
    color: #848484;
    /* background-color: aqua; */
}

.footerin1 .icon2 svg {
    width: 20px;
    height: 20px;
    color: var(--col1);
}

.footerin1 .f2 .inputcontainer input {
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 200;
    color: #424242;
}

.footerin2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    border-top: 1px solid #e0e0e0;
    
}

.footerin2 h3 {
   
    color: white;
    font-size: 17px;
    font-weight: 300;
}

.footerin2 .headaddress h2{
    
    color: white;
    text-decoration-line: underline;
    font-size: 20px;
    font-weight: 300;
    
    
}
.footerin2 .headaddress p{
    color: white;
    font-size: 15px;
    font-weight: 200;
    
    
}
.footerin2 .branchaddress h2{
    
    color: white;
    text-decoration-line: underline;
    font-size: 20px;
    font-weight: 300;
    padding: auto;
}
.footerin2 .branchaddress p{
    color: white;
    font-size: 15px;
    font-weight: 200;
    
}

@media (max-width: 650px) {
    .swiper-slide img {
   
   
        align-content: center;
        text-align:center;
       margin-left: 10px;
       padding-right: 50PX;
        width: 600px;
        height: 500px;
        border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      }
      
    .footer .f1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .footer .f2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .footerin2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}
